body {
  text-align: center;
  font-family: Arial;
  background: #cceeff;
}

#river {
  position: relative;
  width: 800px;
  height: 300px;
  margin: auto;
  background: url("images/river.png");
  background-size: cover;
}

#boat {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100px;
  transition: 1s;
}

#stake {
  position: absolute;
  top: 120px;
  right: 100px;
  width: 80px;
  display: none;
}

button {
  margin: 5px;
  padding: 10px 20px;
}
