html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#river {
  width: 100vw;
  height: 100vh;
  background-image: url("river.png");
  background-size: cover;     /* QUAN TRỌNG */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}



/* THUYỀN NẰM TRÊN MẶT NƯỚC */
.boat{
  position:absolute;
  width:120px;
  bottom:220px;   /* đúng với ảnh bạn gửi */
  transition: left 1s, top 1s, opacity 1s;
}


/* CỌC GỖ NGHIÊNG 45 ĐỘ VỀ PHÍA THUYỀN */
#stake{
  position:absolute;
  width:80px;
  bottom:120px;
  transform:rotate(45deg);
  display:none;
}

/* KHUNG CÂU HỎI */
#questionBox{
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  background:rgba(255,255,255,0.85);
  padding:15px;
  border-radius:12px;
  width:85%;
  text-align:center;
}

button{
  padding:8px 14px;
  margin:4px;
  font-size:16px;
}





