body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: #cceeff;
}

.screen {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

#gameArea {
  position: relative;
  width: 900px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #333;
}

#bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#boatArea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.boat {
  position: absolute;
  width: 80px;
  transition: top 1s ease;
}

.sink {
  animation: sink 2s forwards;
}

@keyframes sink {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100px); opacity: 0; }
}

#stake {
  position: absolute;
  width: 80px;
  left: 400px;
  top: 220px;
  display: none;
  transform: rotate(-45deg);
}

#answers button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#timeBox {
  font-size: 20px;
  margin-bottom: 10px;
}

#explain {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
