body{
  font-family: Arial;
  text-align:center;
  background:#cceeff;
}

#river{
  position:relative;
  width:800px;
  height:300px;
  margin:auto;
}

#bg{
  width:100%;
  height:100%;
}

#boats{
  position:absolute;
  top:150px;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.boat{
  width:80px;
  transition: transform 1s ease, opacity 1s ease;
}

.sink{
  transform: translateY(80px);
  opacity:0;
}

#stake{
  position:absolute;
  left:400px;
  top:120px;
  width:60px;
  transform:rotate(45deg);
  display:none;
}

#answers button{
  margin:5px;
  padding:10px 20px;
}

.hidden{
  display:none !important;
}

#result{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000a;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
