html,body{
  margin:0;
  width:100%;
  height:100%;
}

#river{
  width:100vw;
  height:100vh;
  background:url("background.png") no-repeat center;
  background-size:cover;
  position:relative;
}

/* THUYỀN XẾP NGANG */
#boats{
  position:absolute;
  bottom:220px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:20px;
}

.boat{
  width:100px;
}

#stake{
  position:absolute;
  width:80px;
  bottom:220px;
  left:50%;
  transform:translateX(-50%) rotate(45deg);
  display:none;
}

#game{
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  background:rgba(255,255,255,0.9);
  padding:10px;
  width:600px;
  border-radius:10px;
  text-align:center;
}

#answers button{
  margin:5px;
  padding:10px;
  width:45%;
}

#result{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:40px;
}

.hidden{
  display:none;
}
