cơ thể{
 lề: 0; 
 font-family:Arial; 
 text-align:trung tâm; 
 bối cảnh:#0b2b4b; 
}

/* MÀN HÌNH CHUNG */
.màn hình{
 hiển thị: không có; 
 Chiều rộng: 100VW; 
 Chiều cao: 100VH; 
 nền:linear-gradient(rgba(5, 20, 40, 0,55), rgba(5, 20, 40, 0,55)), 
 url ("bg.png") trung tâm / nắp trung tâm không lặp lại; 
}

/* BẮT ĐẦU */
.bắt đầu{
 hiển thị: linh hoạt; 
 hướng linh hoạt: cột; 
 justify-content:trung tâm; 
 align-items: trung tâm; 
}

.tiêu đề{
 kích thước phông chữ: 60px; 
 màu sắc: trắng; 
 text-shadow: 2px 2px 5px đen; 
 lề-đáy: 30px; 
}

.bigBtn{
 kích thước phông chữ: 28px; 
 đệm: 15px 40px; 
}

/* TRÒ CHƠI */
#timeBox{
 kích thước phông chữ: 20px; 
 màu sắc: trắng; 
 lề: 10px; 
 text-shadow: 1px 1px 3px đen; 
}

#gameArea{
 vị trí: tương đối; 
 chiều rộng: 100%; 
 Chiều cao: 50VH; 
 tràn: ẩn; 
 border-top: 3px rgba rắn (255.255.255.0,35); 
 đường viền-đáy: 3px rgba rắn (255.255.255.0.2); 
 nền:linear-gradient(rgba(17, 70, 114, 0,15), rgba(6, 27, 52, 0,5)), 
 url ("bg.png") trung tâm / nắp trung tâm không lặp lại; 
}

/* vùng thuyền */
#boatArea{
 vị trí: tuyệt đối; 
 chiều rộng: 100%; 
 chiều cao: 100%; 
}

/* thuyền */
.thuyền{
 vị trí: tuyệt đối; 
 chiều rộng: 100px; 
  bottom:120px; /* nổi trên mặt nước */
 hoạt hình: float 2s ease-in-out infinite; 
}

@keyframes float{
 0%{ transform:translateY(0); } 
 50%{ transform:translateY(5px); } 
 100%{ transform:translateY(0); } 
}

.bồn rửa{
 hoạt hình: chìm 2 giây về phía trước; 
}

@keyframes bồn rửa{ 
 0%{ độ mờ: 1; transform: translateY (0) xoay (0deg); } 
 100%{ độ mờ: 0; transform: translateY (120px) xoay (20deg); } 
}

/* cọc gỗ */
#stake{
 vị trí: tuyệt đối; 
 chiều rộng: 80px; 
 trái: 45%; 
 dưới cùng: 100px; 
 hiển thị: không có; 
 biến đổi: xoay (-45deg); 
}

Nút #answers{
 lề: 10px; 
 đệm: 10px 20px; 
 kích thước phông chữ: 16px; 
}

#question{
 lề-trên cùng: 20px; 
 màu sắc: trắng; 
 text-shadow: 1px 1px 3px đen; 
}

#explain{
 font-weight: in đậm; 
 màu sắc: màu vàng; 
}
