body {
  text-align:center;
  font-family: Arial;
  background:#b3e5fc;
}

#river {
  width:800px;
  height:300px;
  background:url("river.png");
  background-size:cover;
  margin:auto;
  position:relative;
  overflow:hidden;
}

.boat {
  position:absolute;
  width:80px;
  transition:1s;
}

#stake {
  width:60px;
  position:absolute;
  bottom:0;
  left:350px;
  display:none;
}

button {
  padding:10px;
  margin:5px;
  font-size:16px;
}
